/*Loading Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');


/*Background of Page*/
body{
  background: linear-gradient(#012628, #000000) no-repeat center fixed;
        background-size: cover;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
      }

/* Appearance of Links*/
.link{
    background-color: #015155;

    padding:8px;
    
    border:0px;
    border-color:grey;
    border-style: solid;
    border-radius: 8px;

    font-family: "Open Sans", sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.wrap{
    display: block;
    margin: auto;
   }
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color: #0126289a;

    border:0px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

/*Font*/
h3, p{
    color:rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

h1{
  color:rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
    font-size: 50px;
  
}