/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: */
body{
    background-color: rgb(139, 177, 167);
        background-size: cover;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
      }


/* Choose the appearance of the tags, h1, h3 and p: */



/* BUTTONS */

.link{
    background-color: rgba(132, 180, 230, 0.5);

    padding:10px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.wrap{
    display: block;
    margin: auto;
   }
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: 20px ;
}

.link:hover{

    background-color: rgba(68, 116, 237, 0.821);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Noto Sans Mono', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(206, 235, 231);
      
    border-width: 5px;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
}
.myWeek2{
        margin: auto;
        max-width: 800px;
        background-color: rgb(159, 201, 227);
    
          
        border-width: 5px;
        border-style: solid;
        border-radius: 50px;
        border-color: rgb(255, 255, 255);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: white;
    width:372px;
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(188, 231, 228);
    margin-left: 205px;
    margin-right: 205px;

}
    

/* Set the apperance for a particular chart */
#chart3{
    width: 350px;
}
#chart4{
    width: 350px;
}