
/*Loading Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800');


/*Background of Page*/
body{
  background: linear-gradient(#59a7ac, #000000) no-repeat center fixed;
        background-size: cover;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
      }

/* Appearance of Links*/
.link{
    background-color: rgba(132, 180, 230, 0.5);

    padding:8px;
    
    border:0px;
    border-color:grey;
    border-style: solid;
    border-radius: 8px;

    font-family: "Open Sans", sans-serif;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.wrap{
    display: block;
    margin: auto;
   }
.links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color:#59a7ac9a;

    border:0px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

/*Font*/
h3{
color:rgb(255, 255, 255);
font-family: "Open Sans", sans-serif;
text-align: center;
padding-bottom:10px
}

p{
    color:rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px
}

h5{
  color:rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-bottom: 30px;
  font-size: 17px

}


h2{
  color:rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
  font-size: 50px
}

h1{
  color:rgb(255, 255, 255);
  font-family: "Montserrat";
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px
}
/*Grids - All charts in grids, different collumn number for different size screen*/
.grid_items {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 100%;
  max-width: 800px; 
  margin: 0 auto 0 auto !important;
  align-items: center;
  padding: 0 5 0 5; 
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.grid_items > div {
  background-color: #ffffff;
  padding: 0px;
  border-radius: 6px;
  width: 360px;
  margin:auto;
}
.grid_items > div:nth-child(3n + 2) {
  background-color: #ffffff;
}
.grid_items > div:nth-child(3n) {
  background-color: #ffffff;
}

/* Different number of collumns for differnt size screens - mobile compatibility*/

/* One column*/
@media only screen and (min-width: 250px) {
  .grid_items {
    grid-template-columns: 100%;
    max-width: 420px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }

  .wrap {
    grid-template-columns: 100%;
    max-width: 360px; 
    margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: center;
  }
  .grid_items > div {
    padding: 10px;
  }
  .rubric {
    text-align: left;
  }


}

/* Two columns*/
@media only screen and (min-width: 900px) {
  .grid_items, .wrap {
    grid-template-columns: 47.5% 47.5%;
    max-width: 880px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    text-align: left;
  }
  .grid_items > div {
    padding: 10px;
  }
}


 /*Containers for each week's homework*/   
.myWeek1{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(#136569, #bdbcbc) no-repeat center fixed;
      
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}
.myWeek2{
        margin: auto;
        max-width: 800px;
        background: linear-gradient(#16575a, #888888) no-repeat center fixed;
    
          
        border-width: 0px;
        border-style: solid;
        border-radius: 10px;
        border-color: rgb(255, 255, 255);
}
.myWeek3{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(#134648, #606060) no-repeat center fixed;
      
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}
.myWeek4{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(#11393a, #676767) no-repeat center fixed;

      
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}
.myWeek5{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(#0e292b, #3c3c3c) no-repeat center fixed;

      
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}
.myWeek6{
  margin: auto;
  max-width: 800px;
  background: linear-gradient(#0c2122, #212121) no-repeat center fixed;

    
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
}

.myWeek7{
    margin: auto;
    max-width: 800px;
    background: linear-gradient(#133638, #3d3d3d) no-repeat center fixed;
      
    border-width: 0px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
}
.myWeek8{
  margin: auto;
  max-width: 800px;
  background: linear-gradient(#1f6064, #666666) no-repeat center fixed;

    
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
}
.myWeek9{
  margin: auto;
  max-width: 800px;
  background: linear-gradient(#1f7478, #a3a3a3) no-repeat center fixed;

    
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
}
.myWeek10{
  margin: auto;
  max-width: 800px;
  background: linear-gradient(#1f99a0, #bdbdbd) no-repeat center fixed;

    
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
}

/* Appearance of Charts */
.chart{
    background-color: white;
    width:372px;
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(188, 231, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto; 
}

/*Change width of certain charts so they fit all screen sizes - mobile compatibility*/

#chart3{
    width: 350px;
}
#chart4{
    width: 350px;
}
#chart5{ 
    width: 350px;

}
#chart6{ 
    width: 350px;
}
#chart7{
    width: 360px;
}
#chart8{
    width:280px
}
#chart9{
    width:280px
}
#chart10{
    width:280px
}
#chart11{
    width:280px
}
#chart12{
    width:280px
}
#chart13{
    width:280px
}
#chart14{
    width:280px
}
#chart15{
    width:280px
}
#chart16{
    width:280px
}
#chart17{
    width:350px
}
#chart18{
    width:350px
}
#chart21{
  width:350px
}
#chart22{
  width:350px
}