@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: rgb(196, 223, 106);
        background-size: cover;
        margin: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
      }

.link{
    background-color: rgba(132, 180, 230, 0.5);

    padding:10px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    text-decoration: none;
}
.wrap{
    display: block;
    margin: auto;
   }
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    border: 5px;
    border-color: black;
    border-style: solid;
    margin: auto;
}

.link:hover{

    background-color: rgba(142, 235, 127, 0.821);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    
}

h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Noto Sans Mono', sans-serif;
    text-align: center;
}
.chart{
    background-color: white;
    width:445px;
    border-width: 3px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(113, 141, 58);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto; 
}
.grid_items {
    padding: 2px;
    display: grid;
    grid-template-columns: 100%;
    max-width: 800px; 
    margin: 0 auto 0 auto !important;
    padding: 0 5 0 5; 
    grid-column-gap: 5px;
    grid-row-gap: 20px;
  }
  .grid_items > div {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 360px;
    margin:auto;
  }
  .grid_items > div:nth-child(3n + 2) {
    background-color: #ffffff;
  }
  .grid_items > div:nth-child(3n) {
    background-color: #ffffff;
  }

/* One column*/
@media only screen and (min-width: 250px) {
    .grid_items {
      grid-template-columns: 100%;
      max-width: 420px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center;
    }
  
    .wrap {
      grid-template-columns: 100%;
      max-width: 360px; 
      margin: 0 auto 0 auto !important;
        padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: center;
    }
    .grid_items > div {
      padding: 10px;
    }
    .rubric {
      text-align: left;
    }
  
  
  }
  
  /* Two columns*/
  @media only screen and (min-width: 900px) {
    .grid_items, .wrap {
      grid-template-columns: 47.5% 47.5%;
      max-width: 880px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 10px;
      grid-row-gap: 40px;
      text-align: left;
    }
    .grid_items > div {
      padding: 10px;
    }
  }
 
  /* Three columns*/
  @media only screen and (min-width: 1400px) {
    .grid_items, .wrap {
      grid-template-columns: 30% 30% 30%;
      max-width: 1400px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 20px;
      grid-row-gap: 50px;
    }
    
    .grid_items > div {
      padding: 10px;
    }
  }
   /* Four columns*/
   @media only screen and (min-width: 1800px) {
    .grid_items, .wrap {
      grid-template-columns: 25% 25% 25% 25%;
      max-width: 1900px; 
      margin: 0 auto 0 auto !important;
      padding: 0 5 0 5; 
      grid-column-gap: 20px;
      grid-row-gap: 50px;
    }
    .grid_items > div {
      padding: 10px;
    }
  }
